name: Rust

concurrency:
  group: rust-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install Rust toolchain
      uses: dtolnay/rust-toolchain@stable
      with:
        components: rustfmt, clippy

    - name: Cargo fmt
      run: cargo fmt --all -- --check

    - name: Cargo clippy
      run: cargo clippy --workspace --all-targets --all-features -- -D warnings

    - name: Cargo test
      run: cargo test --workspace --all-features
